@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Configurações Gerais*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background: url("../imagens/foto-de-fundo.jpg") no-repeat center center;    
    background-size: cover;
    background-attachment: fixed;    
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

header {
    display: flex;    
    width: 100vw;    
    align-items: center;
    background: #014023;
    
    padding: 10px;
}

header > h1 {       
    font-family: "Merriweather", serif;
    font-weight: 900;
    transform: scale(1.5);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.671);
    letter-spacing: 0.2em;
    
    color: #D9B166;
    font-size: 0.9em;     
    
    margin-left: 60px;
}


.nav-menu {
    width: auto;  
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative; 
    background-color: #014023;
    
}

.material-symbols-outlined {       
    color: #D9B166;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.466);
    font-size: 24px;
    cursor: pointer;
}

.menu {
    background-color: #94ac9e9f;
    border-radius: 3px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.menu.active {
    max-height: 200px; /* Ajuste conforme necessário */
}

.menu li a {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    padding: 8px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu li a:hover,
.menu li a:focus {
    background-color: #F2E5BD;
    color: #014023;
    border-radius: 3px;
}
/*Configurações das Páginas*/

main {
    width:90vw;     
    margin: auto;   
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.329);    
    flex: 1;  
}

/* Configuração do carrossel*/


section.slider{    
    margin: 0 auto;    
    width:90vw;
    height: 300px;    
    margin-top: 10px;
    background-color: #014023;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.329);    

    overflow: hidden;    
}

.slides{
    display: flex;
    width: 400%;
    height: 300px;
}

.slides input{display: none;}

.slide{
    position: relative;
    width: 25%;

    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
.manual-navigation{
    position: absolute;
    display: flex;    
    left: 50%;
    transform: translate(-50%);
    margin-top: 250px;
    
    
    justify-content: center;
    
}
.manual-btn{
   border: 2px solid #014023;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer; 

   transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
    
}

.manual-btn:hover{
    background-color: rgb(20, 235, 20);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #D9B166;
    padding: 5px;
    border-radius: 10px;

    cursor: pointer;

    transition: 1s;
}

.navigation-auto{
    position: absolute;
    display: flex;
    margin-top: 250px;
    left: 50%;

    transform: translate(-50%);     
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(20, 235, 20);    
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(20, 235, 20);    
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(20, 235, 20);    
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(20, 235, 20);    
}

article{   
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 10px;    
    padding: 10px;    
}

article> h2{   
    background-color: #014023;
    font-size: 19px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #D9B166;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.671);
    padding: 10px;
    margin: -10px;    
}

article > p{
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent: 20px;
}

div.tec{
    
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;       
    
}

div.tec-mov{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    transition: all ease .3s;
}

div.tec-mov > p{
    margin-left: 0;
    padding: 0;
    margin-top: 5px;
    text-indent: 0;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);

    box-sizing: border-box;
}

div.tec img{
    width: 50px;
    border-radius: 50%;  

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.425);

}

div.tec-mov:hover, 
:focus{
    cursor: pointer;

    transform: translate(3px, 3px);
}

article > a > h2{
    background-color: #014023;
    color: white;
    font-weight: normal;
    padding: 10px;    
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;   

    cursor: pointer; 
    transition: all .3s;   
}

article > a > h2:hover, 
article > a > h2:focus{
    background-color: #d9b16654;
    color: #014023;
    font-weight: bold;     
    
}

div > p{
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent: 20px;
}

article > h3{
    border: 2px dashed #01402380;
    background-color: #d9b16688;
    border-radius: 5px;
    padding: 20px;
    color: black;
    
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

article > h4{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    float: right;
    color: black;
   
}

.section-content{
    display: none;
}


footer {
    padding: 5px;
    background-color: #014023;
    color: #D9B166;
    font-size: 0.6em;
    text-align: center;
    position: static; /* Por padrão, estático */
    width: 100%;
    
}

.footer-fixed {
    position: fixed;
    bottom: 0;
}



/*Configurações para telas maiores e impressão*/



@media print{
    .material-symbols-outlined, .menu, .menu lu {
        display: none;
        
    }

    section.mov{display: none};

    
}


@media screen and (min-width: 768px) {
    .material-symbols-outlined {
        display: none;
    }

    header{
        display: flex;
        height: 8vw;
        justify-content: center;
        
    }

    header > h1{
        font-size: 2em;        
    }

    article > h2{
       font-size: 1.5em;    
    }
    .menu {
        display: flex;
        max-height: none;
        padding: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.527);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    main{
        width: 70vw;
    }

    article > p{
        font-size: 1.5em;    
    }

    .menu li a{
        font-size: 1.5em;  
    }
    .nav-menu {
        width: auto;
        background: linear-gradient(to bottom, #014023, #94ac9e9f );
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082);

    }  
   
    
    
    footer{
        padding: 10px;
        font-size: 1em;
    }    

    section.mov{
        display: flex;
        width: 80vw;
        height: 300px;
        margin: auto;
        margin-top: 10px;
        background-color: #014023;
    
        align-items: center;
        justify-content: center;
        
    }
}
